%header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
    %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo03", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand.p-0.nav-logo{:href => "#"}
      / ?xml version="1.0" encoding="UTF-8"?
      %svg{:height => "220px", :version => "1.1", :viewbox => "0 0 242 220", :width => "242px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
        %title b&w_logo
        %desc Created with Sketch.
        %defs
          %rect#path-1{:height => "190.607432", :rx => "12.491335", :width => "157.279595", :x => "35.3297422", :y => "10.484836"}
          %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
            %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
            %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
            %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
            %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
          %rect#path-3{:height => "171.161486", :rx => "9.6888466", :width => "123.9533", :x => "51.9878879", :y => "19.404077"}
          %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
            %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
            %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
            %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
            %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
          %path#path-5{:d => "M70.1050368,35.6666109 L159.089911,35.6666109 L159.089911,35.6666109 C163.678051,35.6666109 167.397473,39.386033 167.397473,43.9741728 L167.397473,87.717145 L167.397473,166.808436 L167.397473,166.808436 C167.397473,171.396576 163.678051,175.115998 159.089911,175.115998 L70.1050368,175.115998 L70.1050368,175.115998 C65.516897,175.115998 61.7974749,171.396576 61.7974749,166.808436 L61.7974749,43.9741728 L61.7974749,43.9741728 C61.7974749,39.386033 65.516897,35.6666109 70.1050368,35.6666109 Z"}
          %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
            %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
            %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
            %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
            %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
          %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "49.8525134"}
          %filter#filter-8{:filterunits => "objectBoundingBox", :height => "137.3%", :width => "143.4%", :x => "-20.6%", :y => "-18.7%"}
            %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
            %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
            %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
            %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
        %g#Page-3{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
          %g{"fill-rule" => "nonzero", :id => "b&w_logo"}
            %g#Decko-Logo-{:transform => "translate(7.000000, 4.000000)"}
              %g#g5642
                %g#svg-card-1{:transform => "translate(113.969540, 105.788552) scale(-1, 1) rotate(105.855860) translate(-113.969540, -105.788552) "}
                  %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                  %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                %g#svg-card-2{:opacity => "0.879999995", :transform => "translate(113.964538, 104.984820) scale(-1, 1) rotate(117.480003) translate(-113.964538, -104.984820) "}
                  %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                  %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                %g#svg-card-3{:transform => "translate(114.597474, 105.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -105.391304) "}
                  %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                  %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                %g#svg-card-4{:opacity => "0.879999995", :transform => "translate(116.838368, 103.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -103.446228) "}
                  %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                  %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
    #navbarTogglerDemo03.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        %li.nav-item
          %a.nav-link.active{:href => "/Samples"} Samples
        %li.nav-item
          %a.nav-link{:href => "/Blog"} Blog
        %li.nav-item
          %a.nav-link{:href => "/contact"} contact
        %li.nav-item
          %a.nav-link{:href => "/support"} support
      .form-inline.my-2.my-lg-0.col-md-4
        .w-100
          %form.navbox-form.nodblclick{"accept-charset" => "UTF-8", :action => "/*search", :method => "get", :role => "search"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            .form-group.w-100
              %select#query_keyword._navbox.navbox.form-control.w-100.select2-hidden-accessible{"aria-hidden" => "true", "data-select2-id" => "query_keyword", :multiple => "multiple", :name => "query[keyword]", :placeholder => "Search", :tabindex => "-1"}
              %span.select2.select2-container.select2-container--bootstrap{"data-select2-id" => "1", :dir => "ltr", :style => "width: 417.328px;"}
                %span.selection
                  %span.select2-selection.select2-selection--multiple.select2-navbox-autocomplete{"aria-expanded" => "false", "aria-haspopup" => "true", :role => "combobox", :tabindex => "-1"}
                    %ul.select2-selection__rendered
                      %li.select2-search.select2-search--inline
                        %input.select2-search__field{"aria-autocomplete" => "list", :autocapitalize => "none", :autocomplete => "off", :autocorrect => "off", :placeholder => "Search", :role => "textbox", :spellcheck => "false", :style => "width: 415.312px;", :tabindex => "0", :type => "search"}/
                %span.dropdown-wrapper{"aria-hidden" => "true"}
      %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        %li.nav-item.account-info
          %span#logging.logged-in
            %a#my-card-link.nav-link.my-card.known-card{:href => "/Philipp_Kuehl"} Philipp Kuehl
            %a.nav-link.invite-link.known-card{:href => "/new/Sign_up"} Invite
            %a.nav-link.signout-link.known-card{:href => "/delete/*signin"} Sign out
#container
  #main
    #top_banner.card-slot.content-view.ALL.TYPE-html.SELF-top_banner.d0-card-content{"data-card-id" => "33964", "data-card-name" => "top banner", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"top banner\",\"nest_syntax\":\"top banner|content\",\"home_view\":\"content\"}"}
      .container-fluid.margin-fix
        / top banner area
        .row
          .col-md-12.p-0.code-bg
            .jumbotron.fancy-bg-gradient.text-center.m-0.logo-vh.justify-content-center.align-items-center
              / <span class = "logo-sub h4">You hold</span>
              / <object data="images/decko_b_w.svg" type="image/svg+xml"></object>
              %h1 Decko
              .small.text-muted.clearfix.pb-3 Formerly known as “Wagn”
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_main
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_main{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
              / <span class = "logo-sub h4">[the] cards</span>
              / <h2 class=" m-auto w-50 pt-3 text-muted font-weight-light">Play with a full deck</h2>
              %h4.m-auto.w-50.p-4
                Dynamic websites from creatively organized
                %em cards
              %button.btn.btn-primary{:type => "button"} Get started
    .container-fluid.homepage-main-content.text-center
      / card 1
      .row.p-5
        .col-md-4
          %div
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-image.RIGHT-screenshot.TYPE_PLUS_RIGHT-basic-screenshot.SELF-browsing_butterfly-screenshot.d0-card-content{"data-card-id" => "34320", "data-card-name" => "browsing butterfly+screenshot", "data-slot" => "{\"size\":\"large\",\"nest_name\":\"browsing butterfly+screenshot\",\"nest_syntax\":\"browsing butterfly+screenshot|size:large\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "browsing_butterfly+screenshot"}
              %img{:alt => "browsing butterfly+screenshot", :src => "https://decko.org/files/~34320/247752-large.png"}/
        .col-md-8
          #browsing_butterfly.card-slot.content-view.ALL.TYPE-basic.SELF-browsing_butterfly.d0-card-content{"data-card-id" => "34309", "data-card-name" => "browsing butterfly", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"browsing butterfly\",\"nest_syntax\":\"browsing butterfly|content\",\"home_view\":\"content\"}"}
            %p
              %span{:style => "color: #cccccc;"}
                %em "Browsing butterfly"
            %p
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_butterfly
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_butterfly{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
                      %g#svg-card-butterfly{:fill => "#4B4B4B", :transform => "translate(115.500000, 99.500000) rotate(-18.000000) translate(-115.500000, -99.500000) translate(88.000000, 82.000000)"}
                        %path#Shape{:d => "M53.5833333,2.09146341 C52.7083333,0.853658537 51.375,0.170731707 49.9166667,0.170731707 C42.6666667,0.170731707 35.7916667,4.05487805 31.5833333,10.5426829 L29.7916667,13.3170732 C29.6666667,13.0609756 29.5,12.804878 29.2916667,12.5914634 C29.2083333,12.5060976 29.125,12.4634146 29.0416667,12.3780488 C29.125,9.68902439 30.0833333,7.08536585 31.7916667,5.07926829 L31.875,4.95121951 C32.0833333,4.69512195 32.0833333,4.26829268 31.7916667,4.05487805 C31.5416667,3.84146341 31.125,3.84146341 30.9166667,4.1402439 L30.8333333,4.18292683 C29.0416667,6.31707317 28,9.00609756 27.7916667,11.8231707 C27.7083333,11.8231707 27.6666667,11.7804878 27.5833333,11.7804878 C27.4583333,11.7804878 27.3333333,11.7804878 27.2083333,11.7804878 C27.0416667,8.96341463 25.9583333,6.31707317 24.1666667,4.18292683 L24.0833333,4.05487805 C23.875,3.79878049 23.4583333,3.75609756 23.2083333,3.9695122 C22.9583333,4.18292683 22.9166667,4.6097561 23.125,4.86585366 L23.2083333,4.99390244 C24.9166667,7.04268293 25.875,9.60365854 25.9583333,12.2926829 C25.875,12.3353659 25.7916667,12.4207317 25.7083333,12.5060976 C25.4583333,12.7195122 25.2916667,13.0182927 25.125,13.3170732 L23.3333333,10.5426829 C19.1666667,4.05487805 12.3333333,0.170731707 5.08333333,0.170731707 C3.66666667,0.170731707 2.33333333,0.853658537 1.41666667,2.09146341 C0.458333333,3.41463415 0.166666667,5.16463415 0.625,6.74390244 L3.79166667,17.4573171 C4.125,18.6097561 4.95833333,19.4207317 6,19.7195122 C5.75,19.9756098 5.5,20.2743902 5.29166667,20.6158537 C3.95833333,22.6219512 3.66666667,25.1829268 4.54166667,27.445122 L5.66666667,30.4329268 C6.5,32.652439 8.33333333,34.2743902 10.5,34.7012195 C10.875,34.7865854 11.2916667,34.8292683 11.6666667,34.8292683 C13.375,34.8292683 15.0416667,34.1036585 16.25,32.7378049 L25.6666667,22.3658537 C26.0833333,26.804878 26.5416667,31.5853659 26.7083333,32.2682927 C26.7083333,32.3109756 26.7083333,32.3536585 26.75,32.3536585 C26.875,32.695122 27.1666667,32.9512195 27.5416667,32.9512195 C27.9166667,32.9512195 28.25,32.695122 28.3333333,32.3536585 C28.3333333,32.3109756 28.3333333,32.3109756 28.375,32.2682927 C28.5,31.5853659 28.9583333,26.804878 29.375,22.3658537 L38.7916667,32.7378049 C40,34.1036585 41.6666667,34.8292683 43.375,34.8292683 C43.75,34.8292683 44.1666667,34.7865854 44.5416667,34.7012195 C46.7083333,34.2743902 48.5416667,32.652439 49.375,30.4329268 L50.5,27.445122 C51.375,25.1402439 51.0833333,22.6219512 49.75,20.6158537 C49.5416667,20.2743902 49.2916667,20.0182927 49.0416667,19.7195122 C50.0833333,19.4207317 50.9166667,18.5670732 51.25,17.4573171 L54.4166667,6.74390244 C54.8333333,5.12195122 54.5416667,3.41463415 53.5833333,2.09146341 Z M26.5833333,14.5121951 C26.5833333,14.2134146 26.7083333,13.9573171 26.9166667,13.7439024 C27,13.6585366 27.25,13.4878049 27.5416667,13.4878049 C27.75,13.4878049 27.9583333,13.5731707 28.125,13.7439024 C28.2916667,13.9146341 28.375,14.1280488 28.375,14.3841463 C28.125,17.3292683 27.7916667,20.9146341 27.4583333,24.1158537 C27.2083333,20.9573171 26.875,17.4146341 26.5833333,14.5121951 Z M2.625,6.10365854 C2.33333333,5.16463415 2.5,4.09756098 3.08333333,3.32926829 C3.58333333,2.64634146 4.29166667,2.26219512 5.08333333,2.26219512 C11.6666667,2.26219512 17.8333333,5.80487805 21.6666667,11.695122 L25.1666667,17.1158537 C25.1666667,17.3292683 25.2083333,17.5 25.2083333,17.7134146 L10.5416667,17.7134146 L6.875,17.7134146 C6.41666667,17.7134146 5.95833333,17.3719512 5.83333333,16.8170732 L2.625,6.10365854 Z M14.75,31.2865854 C13.7083333,32.3963415 12.3333333,32.9085366 10.9166667,32.6097561 C9.45833333,32.3109756 8.20833333,31.2012195 7.625,29.6646341 L6.5,26.6768293 C5.875,25.054878 6.08333333,23.2195122 7.04166667,21.8109756 C7.875,20.5731707 9.16666667,19.847561 10.5416667,19.847561 L25.125,19.847561 L14.75,31.2865854 Z M48.5416667,26.6768293 L47.4166667,29.6646341 C46.8333333,31.2012195 45.625,32.3109756 44.125,32.6097561 C42.7083333,32.9085366 41.2916667,32.3963415 40.2916667,31.2865854 L29.875,19.847561 L44.4583333,19.847561 C45.8333333,19.847561 47.125,20.5731707 47.9583333,21.8109756 C48.9583333,23.2195122 49.125,25.054878 48.5416667,26.6768293 Z M52.375,6.10365854 L49.2083333,16.8170732 C49.0416667,17.3292683 48.625,17.7134146 48.1666667,17.7134146 L44.5,17.7134146 L29.75,17.7134146 C29.75,17.5 29.7916667,17.3292683 29.7916667,17.1158537 L33.3333333,11.695122 C37.1666667,5.80487805 43.375,2.26219512 49.9166667,2.26219512 C50.6666667,2.26219512 51.4166667,2.64634146 51.9166667,3.32926829 C52.4583333,4.1402439 52.6666667,5.16463415 52.375,6.10365854 Z"}
            %h4 Casual visitors feel at home on elegant Decko sites, or decks.
            %p
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-basic.RIGHT-feature.TYPE_PLUS_RIGHT-basic-feature.SELF-browsing_butterfly-feature.d0-card-content{"data-card-id" => "34325", "data-card-name" => "browsing butterfly+features", "data-slot" => "{\"nest_name\":\"+features\",\"nest_syntax\":\"+features\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "browsing_butterfly+features"}
              %h5
                %span{:style => "color: #999999;"} customizable Bootstrap skins
              %h5
                %span{:style => "color: #999999;"} unobtrusive edit interface
              %h5
                %span{:style => "color: #999999;"} mobile friendly
            %p
          %a.btn.btn-outline-primary.mt-2{:href => "/browsing butterfly+learn more", :role => "button"} Browse Samples
      / card 2
      .row.p-5.bg-light
        .col-md-8
          #editing_eagle.card-slot.content-view.ALL.TYPE-basic.SELF-editing_eagle.d0-card-content{"data-card-id" => "34312", "data-card-name" => "editing eagle", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"editing eagle\",\"nest_syntax\":\"editing eagle|content\",\"home_view\":\"content\"}"}
            %p
              %em{:style => "color: #cccccc;"} "Editing eagle"
            %p
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_eagle
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_eagle{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
                      %g#svg-card-eagle{:fill => "#4D4D4D", :transform => "translate(120.000000, 98.000000) rotate(-18.000000) translate(-120.000000, -98.000000) translate(90.000000, 70.000000)"}
                        %path#Shape{:d => "M55.4375,16.611236 C53.25,14.2831461 50.3125,13.0247191 46.375,12.7101124 C45.9375,12.647191 45.5625,12.3955056 45.375,12.0179775 C44.875,11.0741573 44.0625,10.3191011 42.875,9.81573034 C42.125,9.5011236 41.375,9.3752809 40.6875,9.3752809 C40.1875,9.3752809 39.75,8.99775281 39.625,8.55730337 C38.9375,6.29213483 37.25,4.21573034 34.8125,2.70561798 C29,-0.75505618 19.9375,-0.440449438 13.1875,3.46067416 C6.625,7.23595506 3,13.8426966 3,22.0224719 C3,23.5325843 3,25.105618 3,26.741573 C3,36.9348315 2.9375,48.4494382 0.75,53.105618 L0.625,53.294382 C0.125,54.3011236 1.1875,55.3707865 2.1875,54.8674157 L5.625,53.105618 C6.0625,52.8539326 6.625,52.9797753 7,53.3573034 L8.25,54.6157303 C9,55.3707865 10.25,55.3707865 11.0625,54.6157303 L11.0625,54.6157303 C11.875,53.7977528 13.25,53.8606742 14,54.741573 L14.3125,55.0561798 C15,55.8741573 16.25,56 17.125,55.3078652 L17.9375,54.6157303 C18.75,53.9865169 19.875,53.9865169 20.625,54.741573 L21.0625,55.1820225 C21.8125,55.9370787 23.0625,55.9370787 23.875,55.1820225 L24.25,54.8044944 C25,54.0494382 26.1875,54.0494382 26.9375,54.741573 L27.5625,55.2449438 C28.375,56 29.625,55.8741573 30.375,55.0561798 L30.8125,54.552809 C31.5625,53.6719101 32.875,53.6719101 33.6875,54.4898876 L33.75,54.552809 C34.5,55.3078652 35.75,55.3078652 36.5625,54.552809 L37.8125,53.294382 C38.1875,52.9168539 38.6875,52.8539326 39.1875,53.0426966 L42.6875,54.8044944 C43.6875,55.3078652 44.8125,54.1752809 44.25,53.1685393 L44.125,52.9797753 C42.6875,50.2741573 42.1875,40.8359551 42.0625,34.6067416 C42,33.2224719 43.0625,32.0898876 44.4375,31.9640449 C48.5625,31.5865169 52.25,31.0831461 54.375,30.0764045 C55,29.7617978 55.75,30.0764045 56.0625,30.705618 C56.1875,30.9573034 56.25,31.1460674 56.375,31.3348315 C56.75,32.2157303 57.25,33.3483146 58.4375,33.3483146 L58.4375,33.3483146 C59.125,33.3483146 59.625,32.8449438 59.6875,32.152809 L59.6875,32.152809 C59.8125,25.0426966 58.5,19.8202247 55.4375,16.611236 Z M37.125,50.1483146 L36.375,50.9033708 C35.625,51.658427 34.375,51.658427 33.5625,50.9033708 L33.375,50.7146067 C32.5625,49.8966292 31.25,49.9595506 30.5,50.7775281 L29.9375,51.4067416 C29.1875,52.2247191 28,52.2876404 27.125,51.5955056 L26.625,51.1550562 C25.8125,50.4629213 24.6875,50.5258427 23.9375,51.2179775 L23.6875,51.4696629 C22.9375,52.2247191 21.6875,52.2247191 20.875,51.4696629 L20.625,51.2179775 C19.875,50.4629213 18.75,50.4629213 17.9375,51.0921348 L17.3125,51.5955056 C16.5,52.2876404 15.25,52.1617978 14.5,51.3438202 L14.0625,50.8404494 C13.3125,49.9595506 12,49.8966292 11.125,50.7146067 L10.9375,50.9033708 C10.1875,51.658427 8.9375,51.658427 8.125,50.9033708 L7.375,50.1483146 C7,49.7707865 6.5,49.7078652 6,49.8966292 L6,49.8966292 C5.125,50.3370787 4.1875,49.5820225 4.3125,48.6382022 C5.25,42.7865169 5.3125,34.6067416 5.3125,26.6157303 C5.3125,25.0426966 5.3125,23.4696629 5.3125,21.8966292 C5.3125,12.5842697 10.1875,7.86516854 14.25,5.53707865 C20.25,2.07640449 28.25,1.76179775 33.3125,4.78202247 C35.125,5.85168539 37.3125,7.86516854 37.3125,11.2629213 C37.0625,14.4719101 35.1875,18.1213483 33,19.694382 C32.75,19.8831461 32.5,19.8831461 32.1875,19.8831461 C30.3125,19.694382 28.5625,20.5123596 27.1875,22.211236 C25.5,24.4134831 24.6875,28.1258427 26.4375,30.9573034 C27.875,33.3483146 30.375,34.7955056 33.0625,34.858427 C33.125,34.858427 33.1875,34.858427 33.25,34.858427 C34.0625,34.858427 34.875,34.7325843 35.6875,34.4808989 C37.375,33.9146067 39.125,35.1101124 39.1875,36.8719101 C39.375,41.9685393 39.625,45.8067416 40.0625,48.7011236 C40.1875,49.6449438 39.25,50.3370787 38.375,49.9595506 L38.3125,49.8966292 C38.0625,49.7078652 37.5,49.8337079 37.125,50.1483146 Z M45.8125,23.4696629 C38.4375,23.5325843 34,24.4764045 32.25,26.4898876 C31.625,27.1820225 32,28.2516854 32.875,28.4404494 L33.0625,28.5033708 C33.4375,28.5662921 33.875,28.4404494 34.1875,28.188764 C34.9375,27.4337079 37.5,26.1123596 45.875,26.0494382 C45.9375,26.0494382 46.0625,26.0494382 46.125,26.0494382 C47.3125,26.0494382 48.375,26.1123596 49.3125,26.3011236 C50.75,26.552809 50.75,28.5662921 49.3125,28.8179775 C46.5,29.258427 43.125,29.5101124 41,29.6988764 C40,29.7617978 39.0625,29.8247191 38.4375,29.8876404 L37.875,29.9505618 L37.5625,30.4539326 C36.6875,31.7752809 35.125,32.5303371 33.4375,32.4674157 C31.5625,32.4044944 29.875,31.3977528 28.875,29.7617978 C27.75,27.8741573 28.375,25.3573034 29.5,23.847191 C30,23.1550562 31.125,22.0853933 32.75,22.588764 L33.25,22.7146067 L33.6875,22.4629213 C36.9375,20.8269663 39.1875,16.5483146 39.9375,12.8359551 C40.0625,12.2696629 40.625,11.8292135 41.1875,11.8921348 C41.5,11.9550562 41.75,12.0179775 42.0625,12.1438202 C42.375,12.2696629 43.5,12.8359551 43.4375,13.8426966 L43.4375,13.905618 C43.4375,14.5977528 43.9375,15.1011236 44.625,15.1011236 L44.6875,15.1011236 C48.75,15.1011236 51.6875,16.1707865 53.75,18.3101124 C55.0625,19.694382 56,21.6449438 56.5625,24.0988764 C56.8125,25.1685393 55.625,26.0494382 54.6875,25.4831461 C52.6875,24.2876404 50,23.4696629 45.8125,23.4696629 Z"}
                        %path#Shape{:d => "M28.125,19.505618 C28.875,19.505618 29.625,19.3168539 30.375,19.0022472 C31.375,18.4988764 32.25,17.6808989 32.75,16.611236 L32.875,16.4224719 L32.8125,16.0449438 C32.75,15.6044944 32.6875,15.1640449 32.5625,14.7235955 C32,12.9617978 30.625,11.7033708 29,11.0741573 L29,11.011236 C26.375,9.94157303 23.75,9.62696629 21.1875,10.0674157 C20.5,10.1932584 20.0625,10.8853933 20.25,11.5146067 L20.3125,11.7033708 C20.4375,12.2696629 21,12.647191 21.625,12.5842697 L21.625,12.5842697 C22.375,12.458427 23.0625,13.0876404 23,13.8426966 C22.9375,14.5348315 23,15.2898876 23.25,15.9820225 C23.6875,17.3033708 24.625,18.3730337 25.8125,18.9393258 C26.5625,19.3168539 27.375,19.505618 28.125,19.505618 Z M25.625,13.5280899 C25.75,13.4651685 25.875,13.4022472 25.9375,13.4022472 C27.6875,12.8359551 29.5625,13.7797753 30.1875,15.541573 C30.25,15.6674157 30.25,15.7932584 30.3125,15.9191011 C30,16.3595506 29.5625,16.6741573 29,16.8629213 C28.3125,17.1146067 27.625,17.0516854 27,16.7370787 C26.375,16.4224719 25.875,15.8561798 25.6875,15.2269663 C25.4375,14.5977528 25.4375,14.094382 25.625,13.5280899 Z"}
            %h4
              Authorized users create and edit versioned content in
              = succeed "." do
                %em cards
            %p
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-basic.RIGHT-feature.TYPE_PLUS_RIGHT-basic-feature.SELF-editing_eagle-feature.d0-card-content{"data-card-id" => "34326", "data-card-name" => "editing eagle+features", "data-slot" => "{\"nest_name\":\"+features\",\"nest_syntax\":\"+features\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "editing_eagle+features"}
              %h5
                %span{:style => "color: #999999;"} edit in context
              %h5
                %span{:style => "color: #999999;"} revertible histories
              %h5
                %span{:style => "color: #999999;"} granular permissions
            %p
          %a.btn.btn-outline-primary.mt-2{:href => "/editing eagle+learn more", :role => "button"} Explore Features
        .col-md-4
          .drop-image-shadow-lg
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-image.RIGHT-screenshot.TYPE_PLUS_RIGHT-basic-screenshot.SELF-editing_eagle-screenshot.d0-card-content{"data-card-id" => "34321", "data-card-name" => "editing eagle+screenshot", "data-slot" => "{\"size\":\"large\",\"nest_name\":\"editing eagle+screenshot\",\"nest_syntax\":\"editing eagle+screenshot|size:large\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "editing_eagle+screenshot"}
              %img{:alt => "editing eagle+screenshot", :src => "https://decko.org/files/~34321/247761-large.jpg"}/
      / card 3
      .row.p-5
        .col-md-4
          .drop-image-shadow-lg
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-image.RIGHT-screenshot.TYPE_PLUS_RIGHT-basic-screenshot.SELF-card_shark-screenshot.d0-card-content{"data-card-id" => "34322", "data-card-name" => "card shark+screenshot", "data-slot" => "{\"size\":\"large\",\"nest_name\":\"card shark+screenshot\",\"nest_syntax\":\"card shark+screenshot|size:large\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "card_shark+screenshot"}
              %img{:alt => "card shark+screenshot", :src => "https://decko.org/files/~34322/247763-large.jpg"}/
        .col-md-8
          #card_shark.card-slot.content-view.ALL.TYPE-basic.SELF-card_shark.d0-card-content{"data-card-id" => "33990", "data-card-name" => "card shark", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"card shark\",\"nest_syntax\":\"card shark|content\",\"home_view\":\"content\"}"}
            %p
              %em{:style => "color: #cccccc;"} "Card shark"
            %p
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_shark
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_shark{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
                      %g#svg-card-shark{:fill => "#4C4C4C", :transform => "translate(115.500000, 96.500000) scale(-1, 1) rotate(20.000000) translate(-115.500000, -96.500000) translate(81.000000, 78.000000)"}
                        %path#Shape{:d => "M67.0472651,23 C67.0153814,23 66.9834976,22.9983754 66.9516139,22.995119 C66.398962,22.9430806 65.9942736,22.4551901 66.0466001,21.9059107 C66.1577867,20.7435153 66.3319205,19.6331724 66.5003338,18.5590045 C67.0178351,15.2641366 67.4699283,12.3839793 65.9239724,9.29849924 C61.6817773,11.3687669 59.0779225,14.4070825 57.9758856,18.5630696 C57.8352689,19.0968972 57.2842504,19.4168745 56.7487673,19.2741681 C56.2124639,19.1334979 55.8919857,18.5870633 56.0334226,18.0532287 C57.3717346,13.00563 60.6140778,9.41762341 65.9460485,7.08552522 C66.4120436,6.88142282 66.9499876,7.05381269 67.2107782,7.48355647 C69.6429457,11.4927721 69.0812994,15.0750817 68.4853155,18.8671836 C68.3218096,19.9120724 68.1517629,20.9927459 68.0462968,22.09537 C67.9972372,22.6125325 67.559859,23 67.0472651,23 Z"}
                        %path#Shape{:d => "M66.3499095,37 C66.2150134,37 66.0776707,36.9723588 65.9460485,36.9150261 C60.6140778,34.5820352 57.3717346,30.9943221 56.0334226,25.9465573 C55.8919857,25.4127122 56.2124639,24.8662597 56.7487673,24.7255777 C57.2842504,24.586116 57.835276,24.9032518 57.9758856,25.4366996 C59.0779225,29.5928235 61.6817773,32.6312391 65.9239724,34.7019792 C67.4699283,31.6163977 67.0178351,28.7361455 66.5003338,25.4411693 C66.3319205,24.366966 66.1577867,23.2565795 66.0466001,22.094153 C65.9942736,21.5448554 66.398962,21.0569489 66.9516139,21.0049088 C67.4969118,20.9504282 67.9939704,21.3557943 68.0462968,21.9046874 C68.1517629,23.0073477 68.3218025,24.0880498 68.4853155,25.13298 C69.0812994,28.9252067 69.6429457,32.5076342 67.2107782,36.5169817 C67.0235627,36.825171 66.6932769,37 66.3499095,37 Z"}
                        %path#Shape{:d => "M8.71393266,26 C8.03573086,26 7.36932221,25.9409174 6.71469985,25.822354 C2.44275669,25.0482009 0.382226956,21.9906998 0.29656896,21.8607251 C-0.00677539835,21.4011249 -0.0806471066,20.8539174 0.0898872471,20.3205669 C0.738222219,18.2894327 5.27185662,16.3304134 13.4110255,13.4261148 C21.659425,10.482705 40.1861121,8.90017224 57.4169109,16.6091114 C57.9065046,16.8279091 58.1320485,17.4170859 57.9206495,17.9251751 C57.7108276,18.4320415 57.1442218,18.6683649 56.6514878,18.4475267 C40.0454446,11.018096 21.7026551,12.5851436 14.0397167,15.3199441 C11.2373365,16.3198269 2.84354533,19.3149891 1.9720251,20.8433308 C2.34531241,21.3367525 3.99797761,23.2973999 7.04711568,23.8499043 C10.4404627,24.4639299 14.3202632,23.1580545 18.5843489,19.9673153 C19.0181446,19.6433918 19.6208977,19.7444437 19.9320996,20.1934504 C20.2440831,20.6420517 20.1466388,21.2678939 19.7144132,21.5914051 C15.7953319,24.5229983 12.1049279,26 8.71393266,26 Z"}
                        %path#Shape{:d => "M32.988313,32 C32.4812784,32 32.0498974,31.6071849 32.0040235,31.0858704 C32.001608,31.0556906 32,31.0259093 32,30.996128 C32,30.4825721 32.3871152,30.0452844 32.9013964,29.9987832 C40.2284495,29.340008 47.8098274,27.1152538 57.7219509,24.0440825 C58.2418636,23.8821433 58.7971876,24.1803261 58.9565417,24.7097976 C58.9863214,24.8072914 59,24.9060023 59,25.0030833 C59,25.4322068 58.7255575,25.8295133 58.299815,25.9612655 C48.2725962,29.0683323 40.5938391,31.3195935 33.0768517,31.9959143 C33.0470649,31.99837 33.0172852,32 32.988313,32 Z"}
                        %path#Shape{:d => "M24.0505049,32 C24.012578,32 23.975421,31.9975807 23.9374941,31.9927492 C18.9573086,31.3809479 14.0645792,29.2956488 9.39555488,25.7944994 C8.96905983,25.4748954 8.87230442,24.8562371 9.17959588,24.4120969 C9.48611746,23.9679567 10.0813587,23.8667904 10.5070772,24.1872032 C14.9113765,27.489255 19.504547,29.4536398 24.1604158,30.0259451 C24.6821198,30.0900277 25.0552092,30.5821313 24.9932809,31.1254194 C24.9360124,31.6292115 24.5257659,32 24.0505049,32 Z"}
                        %path#Shape{:d => "M41.0231141,37 C40.99367,37 40.9650243,36.9988436 40.9355802,36.9965309 C32.1863383,36.2413765 22.9787514,34.3404009 21.0243938,25.9643817 C20.9050344,25.4542672 21.2352653,24.9472386 21.7620519,24.83204 C22.2856517,24.7160682 22.8116468,25.0362377 22.9310062,25.5467354 C24.0673297,30.412837 28.1717952,33.2092156 36.3966387,34.5415127 C31.961144,31.7081576 29.3208586,28.6910159 28.2028292,25.2304182 C28.0420911,24.7310942 28.328562,24.200172 28.8442055,24.0441379 C29.3598489,23.8861742 29.9081163,24.1658847 30.0696528,24.6648255 C31.3189762,28.5318959 35.0486453,31.9820863 41.4727114,35.2130599 C41.8872965,35.4214998 42.0918015,35.884607 41.9605006,36.3184356 C41.8379545,36.7252982 41.4536119,37 41.0231141,37 Z"}
                        %path#Shape{:d => "M14.933219,19 C14.5214304,19 14.1438327,18.7466171 14.0321522,18.3623442 C13.8984379,17.903872 14.1939788,17.432105 14.6923781,17.3089159 L15.8244156,17.0292853 C16.3167364,16.9071466 16.8341269,17.1780259 16.9678478,17.6375424 C17.1015621,18.0960084 16.8060212,18.5677754 16.3076219,18.6909707 L15.1755844,18.9706012 C15.0950522,18.9905526 15.0137578,19 14.933219,19 Z"}
                        %path#Shape{:d => "M22.9472518,14 C22.8717975,14 22.7955706,13.9908917 22.7193438,13.9710926 C22.2119351,13.8419874 21.9024058,13.3144611 22.0279144,12.7928848 C23.6048033,6.23966486 27.9042946,1.9466294 34.8078126,0.0333814925 C35.155069,-0.0620618345 35.5231103,0.0508102139 35.760262,0.325260745 C35.9981795,0.600112096 36.0651694,0.989411129 35.9335073,1.33198709 C34.5598856,4.89710737 33.5188889,8.70578747 35.1866427,12.4031919 C35.4068521,12.8907123 35.2012673,13.4697163 34.7269707,13.6958543 C34.2542124,13.922787 33.6913684,13.7105118 33.471159,13.2229845 C31.8087996,9.53865506 32.363945,5.91888517 33.4981108,2.49237229 C28.3008395,4.41433455 25.1416675,7.95213003 23.8650575,13.2602123 C23.7580295,13.7033731 23.3722734,14 22.9472518,14 Z"}
            %h4
              Advanced users make
              %em rules
              that govern how cards look and behave.
            %p
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-basic.RIGHT-feature.TYPE_PLUS_RIGHT-basic-feature.SELF-card_shark-feature.d0-card-content{"data-card-id" => "34327", "data-card-name" => "card shark+features", "data-slot" => "{\"nest_name\":\"+features\",\"nest_syntax\":\"+features\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "card_shark+features"}
              %h5
                %span{:style => "color: #999999;"} Sets based on name and type
              %h5
                %span{:style => "color: #999999;"} nested card structures
              %h5
                %span{:style => "color: #999999;"} Card Query Language (CQL)
            %p
          %a.btn.btn-outline-primary.mt-2{:href => "/card shark+learn more", :role => "button"} Shark Docs
      / card 4
      .row.p-5.bg-light
        .col-md-8
          #code_monkey.card-slot.content-view.ALL.TYPE-basic.SELF-code_monkey.d0-card-content{"data-card-id" => "33993", "data-card-name" => "code monkey", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"code monkey\",\"nest_syntax\":\"code monkey|content\",\"home_view\":\"content\"}"}
            %p
              %em{:style => "color: #cccccc;"} "Code monkey"
            %p
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_monkey
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_monkey{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
                      %g#svg-card-monkey{:fill => "#4D4D4D", :transform => "translate(115.500000, 101.500000) rotate(36.000000) translate(-115.500000, -101.500000) translate(83.000000, 74.000000)"}
                        %g#Group{:transform => "translate(32.500000, 27.500000) rotate(-55.000000) translate(-32.500000, -27.500000) "}
                          %path#Shape{:d => "M32.96527,54.6841167 C23.5130935,54.6841167 16.108261,50.5170417 16.108261,45.1975923 C16.108261,40.0023512 23.7403335,29.823128 32.96527,29.823128 C42.1902065,29.823128 49.822279,40.0023512 49.822279,45.1975923 C49.8222855,50.5170482 42.4174465,54.6841167 32.96527,54.6841167 Z M32.96527,31.667075 C24.894376,31.667075 17.9395385,40.7423304 17.9395385,45.1975923 C17.9395385,49.3402774 24.8206205,52.8401696 32.96527,52.8401696 C41.1099195,52.8401696 47.9910015,49.3402774 47.9910015,45.1975923 C47.9910015,40.7423369 41.036164,31.667075 32.96527,31.667075 Z"}
                          %path#Shape{:d => "M32.96527,49.9721946 C30.286893,49.9721946 27.6092635,49.2776167 24.949509,47.888094 C24.5010025,47.6539446 24.3259185,47.0970827 24.5583715,46.6452905 C24.7915655,46.1919923 25.3443775,46.0167518 25.792884,46.2512875 C30.6191795,48.7721667 35.311367,48.7721667 40.1376625,46.2512875 C40.585428,46.0167583 41.1382335,46.1919988 41.372175,46.6452905 C41.6046215,47.0970827 41.429544,47.6539446 40.9810375,47.888094 C38.3212765,49.2776167 35.643647,49.9721946 32.96527,49.9721946 Z"}
                          %g#Shape{:transform => "translate(27.950000, 35.357143)"}
                            %path{:d => "M2.257177,2.89808095 C2.0366515,2.89808095 1.815372,2.81852738 1.639547,2.65680119 L0.5547815,1.65790298 C0.181519,1.31417917 0.1554475,0.731054762 0.4966715,0.355057738 C0.837148,-0.0205595238 1.416779,-0.0468285714 1.7900415,0.296515476 L2.874807,1.29541369 C3.2480695,1.6391375 3.274141,2.2222619 2.932917,2.59825893 C2.75262,2.79714286 2.505269,2.89808095 2.257177,2.89808095 Z"}
                            %path{:d => "M7.773363,2.89808095 C7.525271,2.89808095 7.2786675,2.79714286 7.097623,2.59826548 C6.756399,2.22226845 6.782477,1.63914405 7.1557395,1.29542024 L8.2404985,0.296522024 C8.614502,-0.0468220238 9.1919035,-0.0205595238 9.5338685,0.355064286 C9.8750925,0.73106131 9.8490145,1.31418571 9.475752,1.65790952 L8.390993,2.65680774 C8.215168,2.81852738 7.993895,2.89808095 7.773363,2.89808095 Z"}
                          %path#Shape{:d => "M20.352683,38.6604821 C20.2409285,38.6604821 20.1276855,38.639844 20.0174195,38.5963155 C15.0599995,36.6322917 11.856377,31.8959732 11.856377,26.5299899 C11.856377,19.380481 17.631094,13.5642113 24.7282295,13.5642113 C28.0436065,13.5642113 31.192837,14.8310315 33.5955555,17.1316488 C33.96211,17.482503 33.977008,18.0660071 33.6290825,18.435247 C33.2804095,18.8041071 32.7007785,18.8191208 32.3349715,18.4682667 C30.273477,16.4952399 27.5720055,15.4081583 24.728236,15.4081583 C18.640609,15.4081583 13.687661,20.3973917 13.687661,26.5299899 C13.687661,31.1327238 16.435328,35.1951089 20.6879465,36.8799488 C21.158059,37.0664446 21.3897645,37.6015423 21.204248,38.075472 C21.0626975,38.4387143 20.717749,38.6604821 20.352683,38.6604821 Z"}
                          %path#Shape{:d => "M45.5778505,38.6604821 C45.212791,38.6604821 44.8678425,38.4387077 44.7262855,38.0754786 C44.540769,37.6015488 44.7724745,37.0664512 45.242587,36.8799554 C49.495212,35.1954887 52.242125,31.1327304 52.242125,26.5299964 C52.242125,20.3973982 47.289177,15.4081649 41.20155,15.4081649 C38.3585215,15.4081649 35.65705,16.4952464 33.5955555,18.4682732 C33.230496,18.8191274 32.6501175,18.8041137 32.3014445,18.4352536 C31.953519,18.0660137 31.968417,17.4825095 32.3349715,17.1316554 C34.73769,14.8310381 37.886927,13.5642179 41.2015565,13.5642179 C48.2986985,13.5642179 54.073409,19.3804875 54.073409,26.5299964 C54.073409,31.8959732 50.8697865,36.6322982 45.913114,38.596322 C45.8028545,38.639844 45.6896115,38.6604821 45.5778505,38.6604821 Z"}
                          %path#Shape{:d => "M17.1125565,45.1345583 C16.9106535,45.1345583 16.707262,45.0677661 16.5373975,44.9296768 C10.650185,40.1344429 7.272967,33.0378387 7.272967,25.459428 C7.272967,11.5953161 18.589948,0.315883333 32.4996295,0.315883333 C46.409311,0.315883333 57.726292,11.5953226 57.726292,25.459428 C57.726292,32.5417714 54.706691,39.3317964 49.442315,44.0880065 C49.066823,44.4275988 48.4886805,44.3968315 48.1496925,44.0174625 C47.812193,43.6380869 47.843484,43.0553357 48.220471,42.7153637 C53.0974275,38.3081351 55.895008,32.0186821 55.895008,25.459428 C55.895008,12.6122268 45.399796,2.15982381 32.4996295,2.15982381 C19.599463,2.15982381 9.1042445,12.6122268 9.1042445,25.459428 C9.1042445,32.477978 12.233364,39.0518661 17.689204,43.4954929 C18.0818365,43.8155732 18.1429235,44.3964518 17.8248005,44.7923339 C17.64451,45.0178536 17.3792775,45.1345583 17.1125565,45.1345583 Z"}
                          %path#Shape{:d => "M8.4545825,34.5395613 C3.7929385,34.5395613 0,29.205478 0,22.648856 C0,16.0926071 3.7929385,10.7585238 8.4545825,10.7585238 C9.792653,10.7585238 11.1232745,11.2035655 12.3019065,12.0452292 C12.713909,12.3397935 12.8115065,12.9154208 12.5187075,13.3308149 C12.2274035,13.7465821 11.6552215,13.8441482 11.2424715,13.5499571 C10.3625925,12.921425 9.4246035,12.6024708 8.454576,12.6024708 C4.802447,12.6024708 1.831271,17.1095179 1.831271,22.648856 C1.831271,28.1885738 4.802447,32.6956143 8.454576,32.6956143 C8.760037,32.6956143 9.0684815,32.6625946 9.370959,32.597675 C9.86193,32.491106 10.3506715,32.8089339 10.457213,33.3068869 C10.5622595,33.8048333 10.2471135,34.294903 9.752418,34.4010988 C9.3255175,34.4930339 8.888191,34.5395613 8.4545825,34.5395613 Z"}
                          %path#Shape{:d => "M56.5454175,34.5395613 C56.1110615,34.5395613 55.673735,34.4930339 55.2468345,34.4010988 C54.7521325,34.294903 54.4369865,33.8048333 54.5420395,33.3068869 C54.6485745,32.8089405 55.1358275,32.4918589 55.6282935,32.597675 C55.930771,32.6625946 56.2392155,32.6956143 56.5454175,32.6956143 C60.1975465,32.6956143 63.1687225,28.1885673 63.1687225,22.648856 C63.1687225,17.1095179 60.1975465,12.6024708 56.5454175,12.6024708 C55.574649,12.6024708 54.63666,12.9210518 53.757522,13.5495839 C53.344031,13.843775 52.774085,13.7458357 52.481286,13.3311946 C52.1884935,12.9158006 52.286091,12.3401798 52.6980935,12.0456089 C53.875978,11.2035655 55.206606,10.7585238 56.5454175,10.7585238 C61.2070615,10.7585238 65,16.0926071 65,22.648856 C65,29.205478 61.2070615,34.5395613 56.5454175,34.5395613 Z"}
                          %path#Shape{:d => "M23.134618,27.4519667 C21.530574,27.4519667 20.2260305,26.1378661 20.2260305,24.522444 C20.2260305,22.9073952 21.530574,21.5932946 23.134618,21.5932946 C24.738662,21.5932946 26.0432055,22.9073952 26.0432055,24.522444 C26.043212,26.1378661 24.7386685,27.4519667 23.134618,27.4519667 Z M23.134618,23.4372417 C22.54083,23.4372417 22.057308,23.924306 22.057308,24.522444 C22.057308,25.1209554 22.54083,25.6080196 23.134618,25.6080196 C23.728406,25.6080196 24.211928,25.1209554 24.211928,24.522444 C24.2119345,23.924306 23.7284125,23.4372417 23.134618,23.4372417 Z"}
                          %path#Shape{:d => "M42.7959155,27.4519667 C41.1918715,27.4519667 39.887328,26.1378661 39.887328,24.522444 C39.887328,22.9073952 41.1918715,21.5932946 42.7959155,21.5932946 C44.399966,21.5932946 45.704503,22.9073952 45.704503,24.522444 C45.7045095,26.1378661 44.399966,27.4519667 42.7959155,27.4519667 Z M42.7959155,23.4372417 C42.2021275,23.4372417 41.7186055,23.924306 41.7186055,24.522444 C41.7186055,25.1209554 42.2021275,25.6080196 42.7959155,25.6080196 C43.3897035,25.6080196 43.8732255,25.1209554 43.8732255,24.522444 C43.873232,23.924306 43.38971,23.4372417 42.7959155,23.4372417 Z"}
            %h4
              If you can’t do it in cards, you can do it in code with
              = succeed "." do
                %em mods
            %p
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-basic.RIGHT-feature.TYPE_PLUS_RIGHT-basic-feature.SELF-code_monkey-feature.d0-card-content{"data-card-id" => "34328", "data-card-name" => "code monkey+features", "data-slot" => "{\"nest_name\":\"+features\",\"nest_syntax\":\"+features\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "code_monkey+features"}
              %h5
                %span{:style => "color: #999999;"} inherits from Ruby on Rails
              %h5
                %span{:style => "color: #999999;"} DSL for views and events
              %h5
                %span{:style => "color: #999999;"} MoFoS architecture
            %p
          %a.btn.btn-outline-primary.pt-2{:href => "/code monkey+learn more", :role => "button"} Monkey Docs
        .col-md-4
          .drop-image-shadow-lg
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-image.RIGHT-screenshot.TYPE_PLUS_RIGHT-basic-screenshot.SELF-code_monkey-screenshot.d0-card-content{"data-card-id" => "34323", "data-card-name" => "code monkey+screenshot", "data-slot" => "{\"size\":\"large\",\"nest_name\":\"code monkey+screenshot\",\"nest_syntax\":\"code monkey+screenshot|size:large\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "code_monkey+screenshot"}
              %img{:alt => "code monkey+screenshot", :src => "https://decko.org/files/~34323/247765-large.jpg"}/
      / card 5
      .row.p-5
        .col-md-4
          .drop-image-shadow-lg
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-image.RIGHT-screenshot.TYPE_PLUS_RIGHT-basic-screenshot.SELF-platform_platypu-screenshot.d0-card-content{"data-card-id" => "34324", "data-card-name" => "platform platypus+screenshot", "data-slot" => "{\"size\":\"large\",\"nest_name\":\"platform platypus+screenshot\",\"nest_syntax\":\"platform platypus+screenshot|size: large\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "platform_platypus+screenshot"}
              %img{:alt => "platform platypus+screenshot", :src => "https://decko.org/files/~34324/247767-large.jpg"}/
        .col-md-8
          #platform_platypus.card-slot.content-view.ALL.TYPE-basic.SELF-platform_platypu.d0-card-content{"data-card-id" => "34316", "data-card-name" => "platform platypus", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"platform platypus\",\"nest_syntax\":\"platform platypus|content\",\"home_view\":\"content\"}"}
            %p
              %em{:style => "color: #cccccc;"} "Platform platypus"
            %p
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "224px", :version => "1.1", :viewbox => "0 0 246 224", :width => "246px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title decko_cards_logo_platypus
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.610001", :rx => "12.491335", :width => "157.279999", :x => "35.3347256", :y => "6.48271356"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.156925", :rx => "9.6888466", :width => "123.949997", :x => "51.9854941", :y => "15.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,31.6666109 L159.089911,31.6666109 L159.089911,31.6666109 C163.678051,31.6666109 167.397473,35.386033 167.397473,39.9741728 L167.397473,83.717145 L167.397473,162.808436 L167.397473,162.808436 C167.397473,167.396576 163.678051,171.115998 159.089911,171.115998 L70.1050368,171.115998 L70.1050368,171.115998 C65.516897,171.115998 61.7974749,167.396576 61.7974749,162.808436 L61.7974749,39.9741728 L61.7974749,39.9741728 C61.7974749,35.386033 65.516897,31.6666109 70.1050368,31.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "45.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "131.7%", :width => "136.9%", :x => "-17.4%", :y => "-15.9%"}
                    %feoffset{:dx => "1", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#decko_logo_container{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g#decko_cards_logo_platypus{"fill-rule" => "nonzero"}
                    %g#decko_logo_groups{:transform => "translate(9.000000, 9.000000)"}
                      %g#svg-card-1{:transform => "translate(113.974725, 101.787714) scale(-1, 1) rotate(105.855860) translate(-113.974725, -101.787714) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                        %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                      %g#svg-card-2{:transform => "translate(113.960493, 100.982539) scale(-1, 1) rotate(117.480003) translate(-113.960493, -100.982539) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                      %g#svg-card-3{:transform => "translate(114.597474, 101.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -101.391304) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                        %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                      %g#svg-card-4{:transform => "translate(116.838368, 99.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -99.446228) "}
                        %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                        %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
                      %g#svg-card-platypus{:fill => "#4D4D4D", :transform => "translate(118.000000, 101.500000) rotate(-18.000000) translate(-118.000000, -101.500000) translate(96.000000, 72.000000)"}
                        %path#Shape{:d => "M25,53 L25,54 L27,54 L27,53 C27,52.448 27.448,52 28,52 L29,52 L29,50 L28,50 C26.346,50 25,51.346 25,53 Z"}
                        %path#Shape{:d => "M31.5,19 C30.1216667,19 29,20.1216667 29,21.5 C29,22.8783333 30.1216667,24 31.5,24 C32.8783333,24 34,22.8783333 34,21.5 C34,20.1216667 32.8783333,19 31.5,19 Z M31.5,22.3333333 C31.04,22.3333333 30.6666667,21.96 30.6666667,21.5 C30.6666667,21.04 31.04,20.6666667 31.5,20.6666667 C31.96,20.6666667 32.3333333,21.04 32.3333333,21.5 C32.3333333,21.96 31.96,22.3333333 31.5,22.3333333 Z"}
                        %path#Shape{:d => "M17,50 L16,50 L16,52 L17,52 C17.552,52 18,52.448 18,53 L18,54 L20,54 L20,53 C20,51.346 18.654,50 17,50 Z"}
                        %path#Shape{:d => "M22,0 C2.28034783,0 0,11.4050806 0,19.983871 C0,27.9231774 2.88104348,31.1453387 5.19582609,33.7346774 C5.80991304,34.4217419 6.39052174,35.0707419 6.86686957,35.7530484 C8.67182609,38.332871 9.73069565,41.9727903 9.95834783,42.8083065 L8.69573913,50.7609355 C8.6373913,51.1273065 8.60869565,51.5003387 8.60869565,51.8724194 C8.60869565,55.8025806 11.8226087,59 15.7730435,59 L28.2269565,59 C32.1773913,59 35.3913043,55.8025806 35.3913043,51.8714677 C35.3913043,51.5003387 35.3626087,51.1273065 35.3033043,50.7599839 L34.0416522,42.8083065 C34.2673913,41.9765968 35.3233913,38.3404839 37.134087,35.7530484 C37.6104348,35.0707419 38.1910435,34.4217419 38.8051304,33.7346774 C41.1189565,31.1453387 44,27.9231774 44,19.983871 C44,11.4050806 41.7196522,0 22,0 Z M28.2269565,57.0967742 L15.7730435,57.0967742 C12.8776522,57.0967742 10.5217391,54.7529516 10.5217391,51.8714677 C10.5217391,51.5993065 10.5427826,51.3252419 10.5848696,51.0578387 L13.2535652,34.2447419 C13.3004348,34.2466452 13.3444348,34.2580645 13.3913043,34.2580645 L24.8695652,34.2580645 L24.8695652,32.3548387 L13.3913043,32.3548387 C12.8633043,32.3548387 12.4347826,31.9285161 12.4347826,31.4032258 C12.4347826,30.8779355 12.8633043,30.4516129 13.3913043,30.4516129 L17.007913,30.4516129 L17.6009565,28.0868548 C17.8152174,27.2380161 18.5785217,26.6451613 19.4585217,26.6451613 L24.5414783,26.6451613 C25.4214783,26.6451613 26.1847826,27.2380161 26.398087,28.0868548 L26.992087,30.4516129 L30.6086957,30.4516129 C31.1366957,30.4516129 31.5652174,30.8779355 31.5652174,31.4032258 C31.5652174,31.9285161 31.1366957,32.3548387 30.6086957,32.3548387 L26.7826087,32.3548387 L26.7826087,34.2580645 L30.6086957,34.2580645 C30.6555652,34.2580645 30.6995652,34.2466452 30.7464348,34.2437903 L33.4141739,51.0559355 C33.4572174,51.3252419 33.4782609,51.5993065 33.4782609,51.8724194 C33.4782609,54.7529516 31.1223478,57.0967742 28.2269565,57.0967742 Z M37.3751304,32.4699839 C36.7218261,33.2008226 36.1048696,33.8907419 35.5615652,34.6663065 C34.6624348,35.9519355 33.944087,37.4374032 33.3998261,38.7715645 L32.5609565,33.4834516 C33.1224348,32.9619677 33.4782609,32.2254194 33.4782609,31.4032258 C33.4782609,29.8292581 32.1907826,28.5483871 30.6086957,28.5483871 L28.4861739,28.5483871 L28.2537391,27.6253226 C27.828087,25.9276452 26.3005217,24.7419355 24.5414783,24.7419355 L19.4585217,24.7419355 C17.6994783,24.7419355 16.171913,25.9276452 15.7462609,27.6253226 L15.5138261,28.5483871 L13.3913043,28.5483871 C11.8092174,28.5483871 10.5217391,29.8292581 10.5217391,31.4032258 C10.5217391,32.2254194 10.8775652,32.9619677 11.4390435,33.4834516 L10.5992174,38.7706129 C10.0549565,37.4374032 9.3366087,35.9519355 8.43747826,34.6663065 C7.89513043,33.8916935 7.27721739,33.2008226 6.62391304,32.4699839 C4.41626087,29.9986452 1.91304348,27.199 1.91304348,19.983871 C1.91304348,7.31124194 7.92,1.90322581 22,1.90322581 C36.08,1.90322581 42.0869565,7.31124194 42.0869565,19.983871 C42.0869565,27.199 39.5837391,29.9986452 37.3751304,32.4699839 Z"}
                        %path#Shape{:d => "M10.5,19 C9.12166667,19 8,20.1216667 8,21.5 C8,22.8783333 9.12166667,24 10.5,24 C11.8783333,24 13,22.8783333 13,21.5 C13,20.1216667 11.8783333,19 10.5,19 Z M10.5,22.3333333 C10.04,22.3333333 9.66666667,21.96 9.66666667,21.5 C9.66666667,21.04 10.04,20.6666667 10.5,20.6666667 C10.96,20.6666667 11.3333333,21.04 11.3333333,21.5 C11.3333333,21.96 10.96,22.3333333 10.5,22.3333333 Z"}
            %h4
              A committed community is developing this 
              %em> wiki-inspired
               framework.
            %p
            .card-slot.content-view.ALL.ALL_PLUS.TYPE-basic.RIGHT-feature.TYPE_PLUS_RIGHT-basic-feature.SELF-platform_platypu-feature.d0-card-content{"data-card-id" => "34329", "data-card-name" => "platform platypus+features", "data-slot" => "{\"nest_name\":\"+features\",\"nest_syntax\":\"+features\",\"home_view\":\"content\",\"view\":\"content\"}", :id => "platform_platypus+features"}
              %h5
                %span{:style => "color: #999999;"} free and open source
              %h5
                %span{:style => "color: #999999;"} GPL v2 and V3
              %h5
                %span{:style => "color: #999999;"} continuous integration testing
            %p
          %a.btn.btn-outline-primary.mt-2{:href => "/platform platypus+learn more", :role => "button"} Contribute
      .row.p-5.bg-dark.text-white
        .col-12
          #testimony.card-slot.content-view.ALL.TYPE-basic.SELF-testimony.d0-card-content{"data-card-id" => "33994", "data-card-name" => "testimony", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"testimony\",\"nest_syntax\":\"testimony|content\",\"home_view\":\"content\"}"}
            %h4
              %em One of the most exciting things to happen to Wiki since I coined the term.
            %p – Ward Cunningham, inventor of the wiki.
    #decko_org_footer.card-slot.content-view.ALL.TYPE-html.SELF-decko_org_footer.d0-card-content{"data-card-id" => "33984", "data-card-name" => "decko org footer", "data-slot" => "{\"view\":\"content\",\"nest_name\":\"decko org footer\",\"nest_syntax\":\"decko org footer|content\",\"home_view\":\"content\"}"}
      %footer.container-fluid.bg-light.border-top.py-5
        .row
          .col-12.col-md
            %a.navbar-brand.p-0.nav-logo{:href => "#"}
              / ?xml version="1.0" encoding="UTF-8"?
              %svg{:height => "220px", :version => "1.1", :viewbox => "0 0 242 220", :width => "242px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                / Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
                %title b&w_logo
                %desc Created with Sketch.
                %defs
                  %rect#path-1{:height => "190.607432", :rx => "12.491335", :width => "157.279595", :x => "35.3297422", :y => "10.484836"}
                  %filter#filter-2{:filterunits => "objectBoundingBox", :height => "121.0%", :width => "125.4%", :x => "-12.1%", :y => "-10.5%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-3{:height => "171.161486", :rx => "9.6888466", :width => "123.9533", :x => "51.9878879", :y => "19.404077"}
                  %filter#filter-4{:filterunits => "objectBoundingBox", :height => "123.4%", :width => "132.3%", :x => "-15.3%", :y => "-11.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %path#path-5{:d => "M70.1050368,35.6666109 L159.089911,35.6666109 L159.089911,35.6666109 C163.678051,35.6666109 167.397473,39.386033 167.397473,43.9741728 L167.397473,87.717145 L167.397473,166.808436 L167.397473,166.808436 C167.397473,171.396576 163.678051,175.115998 159.089911,175.115998 L70.1050368,175.115998 L70.1050368,175.115998 C65.516897,175.115998 61.7974749,171.396576 61.7974749,166.808436 L61.7974749,43.9741728 L61.7974749,43.9741728 C61.7974749,39.386033 65.516897,35.6666109 70.1050368,35.6666109 Z"}
                  %filter#filter-6{:filterunits => "objectBoundingBox", :height => "128.7%", :width => "137.9%", :x => "-18.0%", :y => "-14.3%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"}
                  %rect#path-7{:height => "107.18743", :rx => "7.8659801", :width => "92.149175", :x => "70.7637805", :y => "49.8525134"}
                  %filter#filter-8{:filterunits => "objectBoundingBox", :height => "137.3%", :width => "143.4%", :x => "-20.6%", :y => "-18.7%"}
                    %femorphology{:in => "SourceAlpha", :operator => "dilate", :radius => "1", :result => "shadowSpreadOuter1"}
                    %feoffset{:dx => "1", :dy => "0", :in => "shadowSpreadOuter1", :result => "shadowOffsetOuter1"}
                    %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5.5"}
                    %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.102553216 0"}
                %g#Page-3{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                  %g{"fill-rule" => "nonzero", :id => "b&w_logo"}
                    %g#Decko-Logo-{:transform => "translate(7.000000, 4.000000)"}
                      %g#g5642
                        %g#svg-card-1{:transform => "translate(113.969540, 105.788552) scale(-1, 1) rotate(105.855860) translate(-113.969540, -105.788552) "}
                          %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
                          %use{:fill => "#4D4D4D", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
                        %g#svg-card-2{:opacity => "0.879999995", :transform => "translate(113.964538, 104.984820) scale(-1, 1) rotate(117.480003) translate(-113.964538, -104.984820) "}
                          %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-4)", "xlink:href" => "#path-3"}
                          %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-3"}
                        %g#svg-card-3{:transform => "translate(114.597474, 105.391304) scale(-1, 1) rotate(133.539993) translate(-114.597474, -105.391304) "}
                          %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-6)", "xlink:href" => "#path-5"}
                          %use{:fill => "#4C4C4C", "fill-rule" => "evenodd", "xlink:href" => "#path-5"}
                        %g#svg-card-4{:opacity => "0.879999995", :transform => "translate(116.838368, 103.446228) scale(-1, 1) rotate(142.690002) translate(-116.838368, -103.446228) "}
                          %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-8)", "xlink:href" => "#path-7"}
                          %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-7"}
          .col-6.col-md
            %h4{:style => "font-family: Oxygen, sans-serif;"} Wagneers
            %p
              %a.known-card{:href => "/How_To_Videos"}
                %span.card-title videos
            %p
              %a.known-card{:href => "/Wagneering"}
                %span.card-title guide
            %p
              %a.known-card{:href => "/Feature_Reference"}
                %span.card-title features
            %p
              %a.known-card{:href => "/Syntax_Reference"}
                %span.card-title syntax
          .col-6.col-md
            %h4{:style => "font-family: Oxygen, sans-serif;"} Developers
            %p
              %a.known-card{:href => "/Next_Release"}
                %span.card-title Next Release
            %p
              %a.known-card{:href => "/roadmap"}
                %span.card-title roadmap
            %p
              %a.known-card{:href => "/Blueprint"}
                %span.card-title Blueprint
            %p
              %a.known-card{:href => "/Ticket"}
                %span.card-title Ticket
            %p
              %a.known-card{:href => "/mods"}
                %span.card-title mods
            %p  
          .col-6.col-md
            %h4 More dev
            %p
              %a.known-card{:href => "/RESTful_Web_API"}
                %span.card-title REST API
            %p
              %a.internal-link{:href => "/wagn_for_geeks.pdf"} one-pager
            %p
              %a.external-link{:href => "https://github.com/decko-commons/decko", :target => "_blank"} github
            %p  
          .col-6.col-md
            %h4 Administrators
            %p
              %a.known-card{:href => "/Config"}
                %span.card-title Config
            %p
              %a.known-card{:href => "/*account"}
                %span.card-title accounts
            %p
              %a.known-card{:href => "/Role"}
                %span.card-title Role
            %p
              %a.internal-link{:href => "/admin/clear_cache"} clear the cache
          .col-6.col-md
            %h4 Community
            %p
              %a.known-card{:href => "/recent"}
                %span.card-title recent members
            %p
              %a.known-card{:href => "/Idea"}
                %span.card-title Idea
            %p
              %a.external-link{:href => "https://twitter.com/#!/@wagneer", :target => "_blank"} twitter
            %p
              %a.external-link{:href => "https://groups.google.com/forum/?fromgroups#!forum/wagneers", :target => "_blank"} wagneers mailing list
            %p
              %a.external-link{:href => "https://groups.google.com/forum/?fromgroups#!forum/wagn-dev", :target => "_blank"} developers mailing list
          .col-6.col-md
            %h4{:style => "font-family: Oxygen, sans-serif;"} Newbies
            %p
              %a.known-card{:href => "/Introduction"}
                %span.card-title intro
            %p
              %a.known-card{:href => "/get_started"}
                %span.card-title get started
/ </div>
%footer
#modal-main-slot.modal.fade._modal-slot{:role => "dialog"}
  .modal-dialog
    .modal-content